DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/mcpaws
SECRET_KEY=troque-por-uma-chave-secreta-longa-e-aleatoria
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
OAUTH_CLIENT_ID=mcp-aws-gpt
OAUTH_CLIENT_SECRET=troque-por-um-client-secret-longo-e-aleatorio
OAUTH_ALLOWED_REDIRECT_URIS=https://chat.openai.com/aip/g-646bd38d50b750801bf3465cf3b5c2138c0241c4/oauth/callback
OAUTH_AUTH_CODE_EXPIRE_MINUTES=10
OAUTH_ACCESS_TOKEN_EXPIRE_MINUTES=60
PUBLIC_BASE_URL=https://SUA-URL-NGROK
